* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Snell Roundhand, cursive;
}

header {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-weight: 700;
  font-size: 700;
  background-color: #293241;
}

.footer {
  display: block;
  width: 500px;
  margin: 14px auto 28px auto;
  text-align: center;
  font-size: 1em;
  color: white;
}

.footer a {
  font-weight: 700;
  font-size: 1em;
  text-decoration: none;
  color: #fff;
}

#quote-box {
  position: relative;
  border-radius: 4px;
  width: 500px;
  padding: 40px 50px;
  display: table;
  background-color: #fff;

  .quote-text i {
    font-size: 0.9em;
    margin-right: 0.6em;
  }
  .quote-text {
    width: 100%;
    height: auto;
    clear: both;
    text-align: center;
    font-weight: 500;
    font-size: 1.8em;
    margin-bottom: 20px;
  }  

  .quote-author {
    width: 100%;
    height: auto;
    clear: both;
    padding-top: 20px;
    font-size: 1em;
    text-align: right;
    color: #aaa;
  }

  .buttons {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .button {
      padding: 9px 16px 7px 16px;
      border: none;
      outline: none;
      border-radius: 3px;
      height: 38px;
      font-size: 0.8rem;
      margin-top: 30px;
      opacity: 1;
      color: white;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }

      &#tweet-quote,
      &#tumblr-quote {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 30px;
        font-size: 1.2em;
        margin-right: 5px;
        background-color: #55acee;

        &:hover {
          background-color: #2795d9;
        }
      }

      &#tumblr-quote {
        background-color: #35465c;

        &:hover {
          background-color: #222f3d;
        }
      }

      &#new-quote {
        background-color: #00bfa5;
        float: right;

        &:hover {
          background-color: #00796b;
        }
      }
    }
  }
}
